/* You can add global styles to this file, and also import other style files */
body 
    background #fafafa

.navigation 
    .col-lg-12 
        margin-top 10px


.jumbotron
    padding 40px
    border-radius 15px
    box-shadow 2px 5px 1px #ccc

.navbar-nav .active
    border-bottom 3px solid orange

.navbar-default 
    .navbar-nav 
        li 
            a
                &:hover
                    transition all 300ms 
                    border-bottom 3px solid orange 